*~
*.tar.gz
*.tar.lz
*.tar.xz
*.tgz
stamp-*

/stage1-riscv-qemu/riscv-qemu.spec
/stage1-riscv-fesvr/riscv-fesvr.spec
/stage1-riscv-isa-sim/riscv-isa-sim.spec
/stage2-riscv-gnu-toolchain/riscv-gnu-toolchain.spec
/stage2-riscv-pk/riscv-pk.spec
/stage3-kernel/linux-*
/stage3-chroot-original/
/stage3-chroot/
/stage3-disk.img
/stage3-disk.img.xz

/bash-4.3/
/coreutils-8.25/
/gmp-6.1.1/
/mpc-1.0.3/
/mpfr-3.1.4/
/ncurses-6.0-20160730/
/riscv-binutils-gdb-riscv-binutils-2.26/
/riscv-gcc-riscv-gcc-6.1.0/
/util-linux-2.28/
