[submodule "riscv-pk"]
	path = riscv-pk
	url = https://github.com/riscv/riscv-pk
[submodule "stage2-cross-tools/glibc"]
	path = stage2-cross-tools/glibc
	url = git://sourceware.org/git/glibc.git
[submodule "stage2-cross-tools/binutils-gdb"]
	path = stage2-cross-tools/binutils-gdb
	url = git://sourceware.org/git/binutils-gdb.git
[submodule "gcc"]
	path = stage2-cross-tools/gcc
	url = git://gcc.gnu.org/git/gcc.git
[submodule "riscv-linux"]
	path = riscv-linux
	url = https://github.com/riscv/riscv-linux
