*~
*.tar.gz
*.tar.lz
*.tar.xz
*.tgz
stamp-*

.gdb_history

/stage1-riscv-qemu/riscv-qemu.spec
/stage1-riscv-fesvr/riscv-fesvr.spec
/stage1-riscv-isa-sim/riscv-isa-sim.spec
/stage2-riscv-gnu-toolchain/riscv-gnu-toolchain.spec
/stage2-riscv-pk/riscv-pk.spec
/stage3-kernel/linux-*
/stage3-chroot-original/
/stage3-chroot/
/stage3-disk.img
/stage3-disk.img.xz

/bash-4.3/
/beecrypt-4.2.1/
/bzip2-1.0.6/
/coreutils-8.25/
/diffutils-3.4/
/file-5.28/
/findutils-4.6.0/
/gettext-0.19/
/gmp-6.1.1/
/grep-2.25/
/gzip-1.8/
/hostname/
/less-481/
/lua-5.3.3/
/make-4.1/
/mpc-1.0.3/
/mpfr-3.1.4/
/nano-2.6.2/
/ncurses-6.0-20160730/
/patch-2.7.5/
/popt-1.16/
/readline-6.3/
/riscv-binutils-gdb-riscv-binutils-2.26/
/riscv-gcc-riscv-gcc-6.1.0/
/riscv-strace-f320e1897832fd07a62e18ed288e75d8e79f4c5b/
/rpm-9571218/
/sed-4.2/
/tar-1.29/
/util-linux-2.28/
/zlib-1.2.8/
